.card-img{
   object-fit: cover;
}

.card-teg{
    font-family: $secondary-font;
    @include font(300, 14, 24);
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 30px;
}
.card-header{
    @media screen and(min-width: 1200px) {
        @include font(500, 30, 24);
    }
    margin-bottom: 30px;
}
.card-description{
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    
}
.card-btn{
    margin-bottom: 0;
    transition: all 350ms ease-in-out;
    &:hover, &:focus{
        color: $accent-color;
    }
}

.swiper {
    margin-bottom: 30px;
    max-width: 290px;
    max-height: 138px;
    @media screen and(min-width: 375px) {
            max-width: 450px;
            max-height: 160px;
        }
    @media screen and(min-width: 480px) {
            max-width: 450px;
            max-height: 201px;
        }

    @media screen and(min-width: 768px) {
        max-width: 738px;
        max-height: 339px;
    }
    @media screen and(min-width: 1200px) {
    max-width: 1060px;
    max-height: 510px;
    margin-bottom: 100px;
    }
}
