<section class="section section-bgn">
    <div class="container ">
        <div class="card-label">
        <p class="anotherText">you may also like</p>
        <ul class="anotherList">
            <li >
                <img src="./images/lifestileRoad.webp" alt="" class="anotherImage">
                <h2>Cold winter days</h2>
            </li>
            <li>
                <img src="./images/photodairyExploreAlp.webp" alt="" class="anotherImage">
                <h2>A day exploring the Alps</h2>
            </li>
            <li>
                <img src="./images/photodairyNewYork.webp" alt="" class="anotherImage">
                <h2>American dream</h2>
            </li>
        </ul>
        </div>
    </div>
</section>