<section class="section">
    <div class="container">
        <div class="card-label">
            <span class="comments"> comments</span>
            <ul>
                <li  class="itemWrapper">
                    <div class="wrapperComent">
                        <div class="avatar">JD</div>
                        <div>
                            <h3 class="avatarName">Jon Doe</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, praesentium? Quaerat quibusdam illum quisquam impedit, deserunt, consectetur, dignissimos accusantium modi unde atque dolorum. Eveniet rerum porro iusto, veniam numquam amet?</p>
                            <button type="button" class="commentBtn">REPLY</button>
                        </div>
                    </div>
                    
                </li>
                <li class="itemWrapper">
                    <div class="wrapperComent">
                        <div class="avatar">JD</div>
                        <div>
                            <h3 class="avatarName">Jane Doe</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            <button type="button" class="commentBtn">REPLY</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="wrapperComent">
                <div class="avatar">JD</div>
                <form action="">
                    <input type="text" placeholder=" JOIN THE DISCUSSION" class="commentInput">
                </form>
            </div>
            <div class="wrapperConected">
                <span class="conectedText">connected with</span>
                <ul class="comentList">
                    <li class="comentItem">
                        <svg width="15" height="15"><use href="./images/symbol-defs.svg#icon-twitter"></use></svg>
                    </li>
                    <li class="comentItem">
                        <svg width="15" height="15"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>