<section class="section">
    <div class="container">
            <img src="./images/hero.webp" alt="" class="img-item">
            <div class="card-label">
                <p class="card-teg">photodiary</p>
                <h1 class="card-header">The perfect weekend getaway</h1>
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur eveniet corrupti voluptatibus, aliquam, ipsum nihil debitis mollitia, adipisci id odio aut earum nulla suscipit necessitatibus? Iure eaque iusto id similique!
                Explicabo ipsa, ullam at vitae, ad assumenda natus sit perspiciatis unde consequatur repellat aliquam, nisi consequuntur quibusdam eligendi iusto aliquid voluptas quos. Ullam accusantium libero perspiciatis accusamus placeat, odit vitae!
                Consequuntur quibusdam suscipit excepturi unde facilis asperiores alias, molestiae illum reiciendis debitis distinctio voluptatum aliquid consectetur architecto ut. <b>Molestiae voluptate sint inventore impedit beatae maiores vel veniam, eum maxime natus.
                Perferendis praesentium ad fugit repellat, dolor eaque dolorem voluptate sunt magnam!</b> Quis aliquam suscipit ipsam modi excepturi, cumque officiis? Cum, quos odit. Ducimus quidem et aspernatur numquam ipsum, magnam ipsa!
                Vel similique voluptas assumenda dignissimos maxime ipsa repellendus numquam laboriosam suscipit quo? Quisquam delectus labore beatae tempora quia. Dolor magnam itaque, consequuntur dolorum hic quod veniam libero repellat quis obcaecati?
                Veniam molestiae eveniet porro reprehenderit distinctio natus nam pariatur adipisci delectus, illum consequuntur qui facilis? Inventore repellat beatae vel minima corrupti? Incidunt quod aliquam a, sapiente similique sit inventore. Rem.</p><br>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae vitae expedita ea ipsa? Veniam, nulla! Id temporibus delectus, numquam dicta molestiae perspiciatis saepe ullam officiis placeat! Aliquam aperiam repellat suscipit.
                </p>
                <ul class="img-list">
                    <li class="img-item"><img src="./images/1.webp" alt=""></li>
                    <li class="img-item"><img src="./images/2.webp" alt=""></li>
                    <li class="img-item"><img src="./images/3.webp" alt=""></li>
                </ul>
                <p class="quote">&ldquo; Quas voluptate cupiditate neque non, explicabo debitis autem facilis minima ipsum perspiciatis earum enim assumenda consectetur cumque numquam corrupti a.
                Esse iusto praesentium, illum quam voluptates iste et pariatur excepturi qui? Deleniti, dignissimos eaque! Asperiores, fugit animi. Laboriosam odit delectus consectetur maxime voluptates, cum amet fugit debitis adipisci! &rdquo;</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sequi harum non? Dolorum, cumque. Perferendis odio unde omnis temporibus molestias sed quo, suscipit numquam est blanditiis aut et beatae quidem!
                Deleniti, adipisci cumque repudiandae illo, ratione omnis, sed cupiditate vero quo modi nihil molestias impedit corrupti quae officia suscipit et pariatur? <b>Impedit dolorem, est magni facere illo quis aliquam quam?
                Ipsum neque similique reiciendis commodi, quibusdam assumenda exercitationem itaque odio veritatis cupiditate corrupti, tenetur perferendis numquam ex cum laboriosam quae sint asperiores facere odit quas porro.</b> Quibusdam reiciendis obcaecati recusandae?
                Est culpa repudiandae ullam dolore pariatur debitis ex amet, quam a corporis quasi iure ducimus iste fugit illum, facere sequi! Repellat impedit quidem minima, maxime sit veritatis at repellendus facilis?
                Consequuntur adipisci ab culpa doloremque velit quaerat, quae consectetur reiciendis iste expedita? Et atque sed quasi dolore aliquid doloremque culpa vero aut? Non ad voluptate, iusto et quia odio repellendus.</p>
                <div class="social-wrapper">
                    <span>share</span>
                    <ul class="social-list">
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <svg width="15" height="15"class="social-svg"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg></a>
                        </li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <svg width="15" height="15"class="social-svg"><use href="./images/symbol-defs.svg#icon-twitter"></use></svg></a>
                        </li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <svg width="15" height="15"class="social-svg"><use href="./images/symbol-defs.svg#icon-google"></use></svg></a>
                        </li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <svg width="15" height="15"class="social-svg"><use href="./images/symbol-defs.svg#icon-pinterest"></use></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</section>