<section class="section">
    <div class="container">
        <ul class="card-label foto-list">
            <li class="foto-item">
                <arctical class="card">
                    <img src="./images/lifestileFestival.webp" alt="Photo gerl" class="card-img images">
                        <p class="card-teg">lifestyle</p>
                        <h1 class="card-header">More then just a music festival</h1>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                            voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis dolorem
                            autem quas dolor aut repudiandae maxime.</p>
                </arctical>
            </li>
            <li class="foto-item">
                <arctical class="card">
                    <img src="./images/cupCoffe.webp" alt="photo cup of coffee" class="card-img images">
                        <p class="card-teg">lifestyle</p>
                        <h1 class="card-header">Life tastes better with coffee</h1>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                            voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis dolorem
                            autem quas dolor aut repudiandae maxime.</p>   
                </arctical>
            </li>
            <li class="foto-item">
                <arctical class="card">
                    <img src="./images/photodairyNewYork.webp" alt="photo New York" class="card-img images">
                        <p class="card-teg">photodiary</p>
                        <h1 class="card-header">American dream</h1>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                            voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis dolorem
                            autem quas dolor aut repudiandae maxime.</p>
                </arctical>
            </li>
            <li  class="foto-item">
                <arctical class="card">
                    <img src="./images/photodairyExploreAlp.webp" alt="photo man" class="card-img images">
                        <p class="card-teg">photodiary</p>
                        <h1 class="card-header">A day exploring the Alps</h1>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                            voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis dolorem
                            autem quas dolor aut repudiandae maxime.</p>
                </arctical>
            </li>
        </ul>
    </div>
</section>