<header class="section">
    <div class="container header ">
        <a href="#" class="logo"></a>
        <nav class="navbar">
            <ul class="header-list">
                <li class="header-item"><a href="index.html"class="header-link">livestyle</a></li>
                <li class="header-item"><a href="photodairy.html"class="header-link">fotodairy</a></li>
                <li class="header-item"><a href="#"class="header-link">music</a></li>
                <li class="header-item"><a href="#"class="header-link">travel</a></li>
            </ul>
        </nav>
    </div>
</header>