<section class="section">
    <div class="container">
                <arctical >
                    <div class="swiper">
                        <div class="swiper-wrapper">
                        <img src="./images/hero.webp" alt="" class="card-img swiper-slide">
                        <img src="./images/3.webp" alt="" class="card-img swiper-slide">
                        <img src="./images/2.webp" alt="" class="card-img swiper-slide">
                        <img src="./images/1.webp" alt="" class="card-img swiper-slide">
                        </div>
                    </div>
                    <div class="card-label">
                        <p class="card-teg">photodiary</p>
                        <h1 class="card-header">The perfect weekend getaway</h1>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                            voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis
                            dolorem autem quas dolor aut repudiandae maxime. Eos.
                            Architecto velit illum saepe, pariatur quod ratione blanditiis iure sapiente ab excepturi! Excepturi,
                            et. Dignissimos accusamus magni laborum aliquid quod, ratione nihil nesciunt placeat consequatur totam
                            dolorem et dolore pariatur.
                            Nemo inventore quas necessitatibus quisquam aspernatur quos quae ducimus accusantium hic. Sunt
                            obcaecati, dignissimos provident unde eveniet excepturi consequatur expedita molestiae recusandae
                            tempore distinctio reiciendis repudiandae, minus magni impedit cum!
                            Ipsa deserunt beatae, soluta veritatis ab quam quas doloremque libero inventore minus dignissimos odit
                            facere incidunt! Distinctio, aperiam asperiores sequi nihil repellendus ullam modi minus praesentium
                            quasi nesciunt! Voluptatibus, similique.
                            Eos excepturi beatae explicabo neque reprehenderit itaque odit quas corporis vero quasi quia non dolorum
                            possimus, quidem iste. Quia maxime, nesciunt earum reprehenderit voluptatum vitae exercitationem
                            officiis odit deserunt facilis?
                            Aperiam vero laborum illum consectetur, atque culpa sequi quos, tempora, mollitia est consequatur
                            exercitationem ex eaque repellendus. A repellat nulla obcaecati facere animi dolorem debitis qui, odit
                            error mollitia maxime!</p>
                        <button type="button" class="card-teg card-btn">leave a comment</button>
                    </div>
                </arctical>
    </div>
</section>