<section class="section">
    <div class="container music">
        <ul class="card-label music-list">
            <li >
                <arctical class="card">
                    <img src="./images/lifestileGerl.webp" alt="Photo gerl" class="card-img images">
                    <p class="card-teg">lifestyle</p>
                    <h1 class="card-header">Top 10 song for running</h1>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                        voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis
                        dolorem
                        autem quas dolor aut repudiandae maxime.</p>
                </arctical>
            </li>
            <li >
                <arctical class="card">
                    <img src="./images/lifestileRoad.webp" alt="photo cup of coffee" class="card-img images">
                    <p class="card-teg">lifestyle</p>
                    <h1 class="card-header">Cold winter days</h1>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum
                        voluptas voluptate provident quod, excepturi corporis modi quibusdam in architecto unde blanditiis
                        dolorem
                        autem quas dolor aut repudiandae maxime.</p>
                </arctical>
            </li>
        </ul>
        <button type="button" class="loadMoreButton" aria-label="load more">Load more</button>
    </div>
</section>