<div class="sideBar">
    <div class="sticky">
    <article class="sideBarCard">
        <img src="./images/sideBar.webp" alt="">
        <h3>About me</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia voluptates explicabo recusandae sunt unde, soluta sint provident expedita, debitis alias enim culpa eligendi architecto quidem repellendus officiis eius adipisci doloribus.</p>
        <ul class="sideBarList">
            <li class="sideBarItm"><a href="#" target="_blank" rel="noopener noreferrer">
                    <svg width="15" height="15" class="social-svg">
                        <use href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
            </li>
            <li class="sideBarItm"><a href="#" target="_blank" rel="noopener noreferrer">
                    <svg width="15" height="15" class="social-svg">
                        <use href="./images/symbol-defs.svg#icon-instagram1"></use>
                    </svg></a>
            </li>
            <li class="sideBarItm"><a href="#" target="_blank" rel="noopener noreferrer">
                    <svg width="15" height="15" class="social-svg">
                        <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                    </svg></a>
            </li>
        </ul>
    </article>
    <h4 class="sideBarPost">TOP POST</h4>
    <ul class="sideBarPostList">
        <li >
            <a href="#">
                <h4 class="sideBarPostItm">A day exploring the Alps</h4>
            </a>
            <p class="sideBarComent"><span>24</span> COMMENTS</p></li>
        <li >
            <a href="#">
                <h4 class="sideBarPostItm">American dream</h4>
            </a>
            <p class="sideBarComent"><span>19</span> COMMENTS</p></li>
        <li >
            <a href="#">
                <h4 class="sideBarPostItm">Cold winter days</h4>
            </a>
            <p class="sideBarComent"><span>15</span>  COMMENTS</p></li>
    </ul>
    <img src="./images/baner.webp" alt="baner">
    <button type="button" class="hideBtn">close</button>
    </div>
</div>